*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.scoreCounter{
    
    position: absolute;
    height: 40px;
    width: 200px;
    background-color: aqua;
    z-index: 1;
    /*left:24.3%;*/
    transform: translateX(350px) translateY(-10px);
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.scoreCounter p{   
    padding: 0px;
    margin: 0px; 
    margin-left: 10px;
    font-size: 30px;
}

.timeCounter{
    position: absolute;
    height: 40px;
    width: 210px;
    background-color: lime;
    z-index: 1;
    /* left:64.3%; */
    transform: translateX(940px) translateY(-10px);
    border-radius: 10px 10px 0px 0px;
}

.timeCounter p{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
}

.printDisplay{
    font-weight: 600;
    font-size: 30px;
}

.about{
    color:white;
    position: absolute;
    height: 200px;
    width: 270px;
    background-color: #82589F;
    border-radius: 10px;
    transform: translateX(30px) translateY(300px);
}

.about h3,.instructions h3{
    transform: translateX(10px);
}

.about p,.instructions p{
    text-align: justify;
    margin: 0 5px;
}

li{
    list-style: square;
    margin-right: 5px;
}

.instructions{
    color:white;
    position: absolute;
    height: 250px;
    width: 270px;
    background-color: #2C3A47;
    border-radius: 10px;
    transform: translateX(30px);
}